.container {
  max-width: 1368px;
  margin: 0 auto;
}
.main {
  display: flex;
  flex-direction: column;
}
.fest__section {
  padding: 50px 0;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fest__section img {
  width: 70%;
  height: 70%;
}
.zoodpay {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zoodpay img {
  -webkit-box-shadow: 5px 23px 34px 1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 5px 23px 34px 1px rgba(34, 60, 80, 0.2);
  box-shadow: 5px 23px 34px 1px rgba(34, 60, 80, 0.2);
  width: 50%;
  height: 350px;
}
.zoodpay img:hover {
  -webkit-box-shadow: 8px 17px 29px 17px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 8px 17px 29px 17px rgba(34, 60, 80, 0.2);
  box-shadow: 8px 17px 29px 17px rgba(34, 60, 80, 0.2);
  transition: 0.5s ease-in;
  cursor: pointer;
}
